DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=hos
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
JWT_SECRET=your-jwt-secret-64-chars
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=
ENCRYPTION_KEY=
RESEND_API_KEY=
CRON_SECRET_KEY=your-cron-secret-key
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_MAILTO=mailto:admin@houseofsubscriptions.com
